/* ***************************
 * Brand Colors
 *************************** */

/* Corporate Blue */
$corp-blue:           #536697;
$corp-blue-light:     #7283b6;
$corp-blue-lighter:   #9dadd5;
$corp-blue-lightest:  #cbd5eb;
$corp-blue-dark:      #3a4e76;
$corp-blue-darker:    #203762;
$corp-blue-darkest:   #02224a;

/* PVE Blue */
$pve-blue:            #7496b2;
$pve-blue-light:      #95aabc;
$pve-blue-lighter:    #c4d0da;
$pve-blue-lightest:   #e3eaf0;
$pve-blue-dark:       #597b97;
$pve-blue-darker:     #345770;
$pve-blue-darkest:    #1a3f58;

/* Projectplace Green */
$pp-green:            #8ab98e;
$pp-green-light:      #a6c9a9;
$pp-green-lighter:    #bfd9c1;
$pp-green-lightest:   #d9e8da;
$pp-green-dark:       #73ab77;
$pp-green-darker:     #5c9961;
$pp-green-darkest:    #4d8051;

/* ***************************
 * Accent Colors
 *************************** */

/* Blue */
$blue:                #5e8aa6;
$blue-light:          #7ba0b7;
$blue-lighter:        #96bec5;
$blue-lightest:       #b0c6d4;
$blue-dark:           #507891;
$blue-darker:         #416276;
$blue-darkest:        #334c5c;

/* Orange */
$orange:              #fbaf5f;
$orange-light:        #fcc488;
$orange-lighter:      #fdd7af;
$orange-lightest:     #feebd7;
$orange-dark:         #fa9c38;
$orange-darker:       #f98810;
$orange-darkest:      #db7406;

/* Yellow */
$yellow:              #fcdb5e;
$yellow-light:        #fde387;
$yellow-lighter:      #fdecaf;
$yellow-lightest:     #fef6d7;
$yellow-dark:         #fbd037;
$yellow-darker:       #fac70f;
$yellow-darkest:      #dcad04;

/* Purple */
$purple:              #ba8aa4;
$purple-light:        #caa5b9;
$purple-lighter:      #d9bfcd;
$purple-lightest:     #e8d8e1;
$purple-dark:         #ac7291;
$purple-darker:       #9a5b7d;
$purple-darkest:      #814b68;

/* Green */
$green:               #799a3e;
$green-light:         #92b359;
$green-lighter:       #afcc7a;
$green-lightest:      #cce6a1;
$green-dark:          #67873a;
$green-darker:        #526d32;
$green-darkest:       #3b5326;

/* Red */
$red:                 #d46464;
$red-light:           #dc7f7f;
$red-lighter:         #e59f9f;
$red-lightest:        #edbfbf;
$red-dark:            #ca3f3f;
$red-darker:          #b03030;
$red-darkest:         #902727;

$corp-orange:         $orange-darker;

$light-blue:          #5aa7e6;

/* Horizons Colors */
$horizons-blue:         #507a93;
$horizons-yellow:       #f8c717;
$horizons-green:        #67883a;
$horizons-orange:       #f5871f;
$horizons-red:          #cc4040;
$horizons-purple:       #9c5d7f;
$horizons-blue-light:   #cbd6eb;
$horizons-purple-light: #d8becd;
